# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json 

# Import API key
from gmconfig import api_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
csv_file = os.path.join('..', 'WeatherPy', 'Output', 'city_weather.csv')

city_df = pd.read_csv(csv_file)
city_df

,City,Max_Temp,Humidity,Cloudiness,Wind_Speed,Latitude,Longitude,Country,Date
0,Punta Arenas,42.80,70,75,13.87,-53.15,-70.92,CL,1604990927
1,Namatanai,82.98,74,77,4.83,-3.67,152.43,PG,1604990999
2,Carnarvon,75.20,47,0,18.34,-24.87,113.63,AU,1604990999
3,Busselton,62.01,48,28,5.99,-33.65,115.33,AU,1604990723
4,Cherskiy,1.60,94,100,4.00,68.75,161.30,RU,1604990826
...,...,...,...,...,...,...,...,...,...
771,Atikokan,24.30,87,0,10.98,48.76,-91.62,CA,1604991175
772,Yala,87.80,62,20,8.05,6.33,101.25,TH,1604991175
773,Smithers,28.40,92,90,2.19,54.78,-127.17,CA,1604991128
774,Lander,19.40,92,1,3.36,42.83,-108.73,US,1604991081
775,Velyka Mykhaylivka,48.87,55,100,8.14,47.08,29.85,UA,1604991175

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
gmaps.configure(api_key= api_key)

In [8]:
locations = city_df[["Latitude", "Longitude"]]
humidity = city_df["Humidity"]

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False)
heat_layer.max_intensity = 100
heat_layer.point_radius = 5

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [13]:
ideal_df = city_df[(city_df['Max_Temp'] >= 70) & (city_df['Max_Temp'] <= 80)]
ideal_df = ideal_df[ideal_df['Wind_Speed'] <= 10]
ideal_df = ideal_df[ideal_df['Cloudiness'] <= 60]
ideal_df = ideal_df[ideal_df['Humidity'] <= 70]
hotel_df = ideal_df
hotel_df

,City,Max_Temp,Humidity,Cloudiness,Wind_Speed,Latitude,Longitude,Country,Date
35,Hong Kong,75.99,47,14,1.99,22.29,114.16,HK,1604990881
57,Kumluca,73.22,38,39,3.96,36.37,30.29,TR,1604991011
69,Oodweyne,79.93,39,0,5.88,9.41,45.06,SO,1604991014
127,Hīt,71.42,57,0,7.11,33.64,42.83,IQ,1604991027
132,Obo,79.41,69,43,2.73,5.40,26.49,CF,1604991028
270,Najrān,77.00,29,0,4.70,17.49,44.13,SA,1604991062
283,Wukari,76.98,52,5,2.98,7.85,9.78,NG,1604991065
306,São João do Piauí,74.50,70,0,7.18,-8.36,-42.25,BR,1604991071
312,Jaumave,73.00,67,0,5.01,23.42,-99.38,MX,1604991072
345,Makakilo City,78.80,69,1,4.70,21.35,-158.09,US,1604991080
353,Tianpeng,71.01,1,34,5.01,30.99,103.94,CN,1604990923
365,Taoudenni,73.35,21,0,9.33,22.68,-3.98,ML,1604991085
435,Gouré,73.99,35,0,5.99,13.98,10.27,NE,1604991100
519,Amarkantak,73.58,33,0,4.99,22.67,81.75,IN,1604991120
537,Marzuq,78.62,28,22,3.06,14.40,46.47,YE,1604991124
559,Nosy Varika,79.72,63,0,7.52,-20.58,48.53,MG,1604991128
565,‘Ewa Beach,78.80,69,1,4.70,21.32,-158.01,US,1604991130
569,Khawhai,78.93,39,0,0.78,23.37,93.12,IN,1604991131
583,Yuli,77.02,26,0,5.35,9.70,10.27,NG,1604991134
623,Victoria Point,75.00,51,0,4.00,-27.58,153.30,AU,1604991143
633,Savelugu,77.18,41,1,4.38,9.62,-0.83,GH,1604991145
661,NEDJO,70.41,57,30,2.68,9.50,35.50,ET,1604991151
666,Orodara,71.60,53,0,6.93,10.95,-4.93,BF,1604991152
672,Hervey Bay,75.00,59,0,4.00,-25.30,152.85,AU,1604991153
687,Bonfim,76.62,69,0,5.32,3.08,-59.95,BR,1604991157
699,Yunyang,70.75,23,0,6.49,33.45,112.71,CN,1604991160
728,Lethem,75.88,69,0,8.97,3.38,-59.80,GY,1604991166

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [14]:
hotel_df['Hotel Name']= ""
hotel_df

,City,Max_Temp,Humidity,Cloudiness,Wind_Speed,Latitude,Longitude,Country,Date,Hotel Name
35,Hong Kong,75.99,47,14,1.99,22.29,114.16,HK,1604990881,
57,Kumluca,73.22,38,39,3.96,36.37,30.29,TR,1604991011,
69,Oodweyne,79.93,39,0,5.88,9.41,45.06,SO,1604991014,
127,Hīt,71.42,57,0,7.11,33.64,42.83,IQ,1604991027,
132,Obo,79.41,69,43,2.73,5.40,26.49,CF,1604991028,
270,Najrān,77.00,29,0,4.70,17.49,44.13,SA,1604991062,
283,Wukari,76.98,52,5,2.98,7.85,9.78,NG,1604991065,
306,São João do Piauí,74.50,70,0,7.18,-8.36,-42.25,BR,1604991071,
312,Jaumave,73.00,67,0,5.01,23.42,-99.38,MX,1604991072,
345,Makakilo City,78.80,69,1,4.70,21.35,-158.09,US,1604991080,
353,Tianpeng,71.01,1,34,5.01,30.99,103.94,CN,1604990923,
365,Taoudenni,73.35,21,0,9.33,22.68,-3.98,ML,1604991085,
435,Gouré,73.99,35,0,5.99,13.98,10.27,NE,1604991100,
519,Amarkantak,73.58,33,0,4.99,22.67,81.75,IN,1604991120,
537,Marzuq,78.62,28,22,3.06,14.40,46.47,YE,1604991124,
559,Nosy Varika,79.72,63,0,7.52,-20.58,48.53,MG,1604991128,
565,‘Ewa Beach,78.80,69,1,4.70,21.32,-158.01,US,1604991130,
569,Khawhai,78.93,39,0,0.78,23.37,93.12,IN,1604991131,
583,Yuli,77.02,26,0,5.35,9.70,10.27,NG,1604991134,
623,Victoria Point,75.00,51,0,4.00,-27.58,153.30,AU,1604991143,
633,Savelugu,77.18,41,1,4.38,9.62,-0.83,GH,1604991145,
661,NEDJO,70.41,57,30,2.68,9.50,35.50,ET,1604991151,
666,Orodara,71.60,53,0,6.93,10.95,-4.93,BF,1604991152,
672,Hervey Bay,75.00,59,0,4.00,-25.30,152.85,AU,1604991153,
687,Bonfim,76.62,69,0,5.32,3.08,-59.95,BR,1604991157,
699,Yunyang,70.75,23,0,6.49,33.45,112.71,CN,1604991160,
728,Lethem,75.88,69,0,8.97,3.38,-59.80,GY,1604991166,

In [18]:
for index, row in hotel_df.iterrows():
    try:
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        
        params = {
            "keyword": "hotel",
            "radius": 5000,
            "key": api_key            
        }
        
        lat = row['Latitude']
        long = row['Longitude']
        
        params['location'] = f"{lat}, {long}"
        
        hotel_data = requests.get(base_url, params=params).json()
        
        hotel_df.loc[index, "Hotel Name"] = hotel_data["results"][0]["name"]
        
    except IndexError:
        hotel_df.loc[index, "Hotel Name"]="NaN"
        
hotel_df

,City,Max_Temp,Humidity,Cloudiness,Wind_Speed,Latitude,Longitude,Country,Date,Hotel Name
35,Hong Kong,75.99,47,14,1.99,22.29,114.16,HK,1604990881,NaN
57,Kumluca,73.22,38,39,3.96,36.37,30.29,TR,1604991011,NaN
69,Oodweyne,79.93,39,0,5.88,9.41,45.06,SO,1604991014,NaN
127,Hīt,71.42,57,0,7.11,33.64,42.83,IQ,1604991027,NaN
132,Obo,79.41,69,43,2.73,5.40,26.49,CF,1604991028,NaN
270,Najrān,77.00,29,0,4.70,17.49,44.13,SA,1604991062,NaN
283,Wukari,76.98,52,5,2.98,7.85,9.78,NG,1604991065,NaN
306,São João do Piauí,74.50,70,0,7.18,-8.36,-42.25,BR,1604991071,NaN
312,Jaumave,73.00,67,0,5.01,23.42,-99.38,MX,1604991072,NaN
345,Makakilo City,78.80,69,1,4.70,21.35,-158.09,US,1604991080,NaN
353,Tianpeng,71.01,1,34,5.01,30.99,103.94,CN,1604990923,NaN
365,Taoudenni,73.35,21,0,9.33,22.68,-3.98,ML,1604991085,NaN
435,Gouré,73.99,35,0,5.99,13.98,10.27,NE,1604991100,NaN
519,Amarkantak,73.58,33,0,4.99,22.67,81.75,IN,1604991120,NaN
537,Marzuq,78.62,28,22,3.06,14.40,46.47,YE,1604991124,NaN
559,Nosy Varika,79.72,63,0,7.52,-20.58,48.53,MG,1604991128,NaN
565,‘Ewa Beach,78.80,69,1,4.70,21.32,-158.01,US,1604991130,NaN
569,Khawhai,78.93,39,0,0.78,23.37,93.12,IN,1604991131,NaN
583,Yuli,77.02,26,0,5.35,9.70,10.27,NG,1604991134,NaN
623,Victoria Point,75.00,51,0,4.00,-27.58,153.30,AU,1604991143,NaN
633,Savelugu,77.18,41,1,4.38,9.62,-0.83,GH,1604991145,NaN
661,NEDJO,70.41,57,30,2.68,9.50,35.50,ET,1604991151,NaN
666,Orodara,71.60,53,0,6.93,10.95,-4.93,BF,1604991152,NaN
672,Hervey Bay,75.00,59,0,4.00,-25.30,152.85,AU,1604991153,NaN
687,Bonfim,76.62,69,0,5.32,3.08,-59.95,BR,1604991157,NaN
699,Yunyang,70.75,23,0,6.49,33.45,112.71,CN,1604991160,NaN
728,Lethem,75.88,69,0,8.97,3.38,-59.80,GY,1604991166,NaN

In [19]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [20]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))